.videoFooter {
    position: relative;
    margin-left: 20px;
    bottom: 100px;
}

.videoFooter_text {
    position: absolute;
    bottom: 0;
    color: cornsilk;
    display: flex;
    margin-bottom: 20px;
}

.videoFooter_text > h3 {
    margin-left: 10px;
    padding-bottom: 20px;
}

.videoFooter_text > h3 > button {
    color: cornsilk;
    font-weight: bold;
    text-transform: inherit;
}

.videoFooter_ticker > .ticker {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 60%;
    height: fit-content;
}

.videoFooter_ticker h1 {
    color: white;
    font-size: 12px;
    padding-top: 7px;
}

.videoFooter_icon {
    position: absolute;
    color: white;
    left: 5px;
}

.videoFooter_actions {
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
    color: white;
}

.videoFooter_actions_left > .MuiSvgIcon-root {
    padding: 0 10px;
}

.videoFooter_actions_right {
    display: flex;
}

.videoFooter_stat {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.videoFooter_stat > p {
    margin-left: 3px    ;
}
